.login-page {
  background-repeat: no-repeat;
  background-size: cover;
  animation: login-bg-animation 110s linear 0s infinite alternate-reverse;
}

@keyframes login-bg-animation {
  0% {
    background-image: url('./img/auth-bg-1.jpeg');
  }
  9% {
    background-image: url('./img/auth-bg-1.jpeg');
  }

  10% {
    background-image: url('./img/auth-bg-2.jpeg');
  }

  19% {
    background-image: url('./img/auth-bg-2.jpeg');
  }

  20% {
    background-image: url('./img/auth-bg-3.jpeg');
  }

  29% {
    background-image: url('./img/auth-bg-3.jpeg');
  }

  30% {
    background-image: url('./img/auth-bg-4.jpeg');
  }

  39% {
    background-image: url('./img/auth-bg-4.jpeg');
  }

  40% {
    background-image: url('./img/auth-bg-5.jpeg');
  }

  49% {
    background-image: url('./img/auth-bg-5.jpeg');
  }

  50% {
    background-image: url('./img/auth-bg-6.jpeg');
  }

  59% {
    background-image: url('./img/auth-bg-6.jpeg');
  }

  60% {
    background-image: url('./img/auth-bg-7.jpeg');
  }

  69% {
    background-image: url('./img/auth-bg-7.jpeg');
  }

  70% {
    background-image: url('./img/auth-bg-8.jpeg');
  }

  79% {
    background-image: url('./img/auth-bg-8.jpeg');
  }

  80% {
    background-image: url('./img/auth-bg-9.jpeg');
  }

  89% {
    background-image: url('./img/auth-bg-9.jpeg');
  }

  90% {
    background-image: url('./img/auth-bg-10.jpeg');
  }

  99% {
    background-image: url('./img/auth-bg-10.jpeg');
  }

  100% {
    background-image: url('./img/auth-bg-1.jpeg');
  }
}
