@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bg-primary {
  background-color: #e03f5c;
}

.bg-secondary {
  background-color: #0284c8;
}

.bg-tertiary {
  background-color: #a15563;
}

.bg-black {
  background-color: #0f192c;
}

.text-primary {
  color: #e03f5c;
}

.text-secondary {
  color: #0284c8;
}

.text-tertiary {
  color: #a15563;
}

.text-black {
  color: #0f192c;
}

.container {
  width: 90%;
  max-width: 90%;
  margin: auto;
}

.container-center {
  margin: auto;
}

.sm:container-center {
  margin: auto;
}

.container-left {
  margin: 0 auto 0 0;
}
